@model Hadasim4._0.Models.Member

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Member</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MemberId" class="control-label"></label>
                <input asp-for="MemberId" class="form-control" />
                <span asp-validation-for="MemberId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Street" class="control-label"></label>
                <input asp-for="Street" class="form-control" />
                <span asp-validation-for="Street" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HouseNumber" class="control-label"></label>
                <input asp-for="HouseNumber" class="form-control" />
                <span asp-validation-for="HouseNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BirthDate" class="control-label"></label>
                <input asp-for="BirthDate" type="date" class="form-control" />
                <span asp-validation-for="BirthDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MobilePhone" class="control-label"></label>
                <input asp-for="MobilePhone" class="form-control" />
                <span asp-validation-for="MobilePhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Do you want to upload a profile picture?</label>
                <select class="form-control" id="wantsProfilePicture">
                    <option value="false" selected>No</option>
                    <option value="true">Yes</option>
                </select>
                <span class="text-danger"></span>
            </div>
            <div class="form-group" id="imageUploadInput" style="display: none;">
                <label>Upload Image</label>
                <input type="file" class="form-control" name="ImageFile" />
            </div>
            <div class="form-group">
                <label  class="control-label">Did the member have COVID-19?</label>
                <select  class="form-control" id="hadCovid19">
                    <option value="false" selected>No</option>
                    <option value="true">Yes</option>
                </select>
                <span class="text-danger"></span>
            </div>
            <div id="covid19Dates" style="display:none;">
                <div class="form-group">
                    <label asp-for="PositiveDate" class="control-label"></label>
                    <input asp-for="PositiveDate" type="date" class="form-control" />
                    <span asp-validation-for="PositiveDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="RecoveryDate" class="control-label"></label>
                    <input asp-for="RecoveryDate" type="date" class="form-control" />
                    <span asp-validation-for="RecoveryDate" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function () {
            $('#wantsProfilePicture').change(function () {
                if ($(this).val() === "true") {
                    $('#imageUploadInput').show();
                } else {
                    $('#imageUploadInput').hide();
                }
            });
            $('#hadCovid19').change(function () {
                if ($(this).val() === "true") {
                    $('#covid19Dates').show();
                } else {
                    $('#covid19Dates').hide();
                }
            });
        });
    </script>
}
